{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  CSS -->
    <link rel="stylesheet"  href={%static 'css/translate_page.CSS' %}>
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>

  <title>translate</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
  {% include "nav.html" %}
  <style>
   a.active-translate-page{
   background:  #33ccff ;
  </style>
  </body>
  <section class="container">
  <div class="the-form">
    <h3>upload your file</h3>
    <input type="file" id="file-selector" accept=".ass, .srt" multiple>
    <button id="cancel" style="display:none" onclick="cancel_upload();" >cancel</button>
    <progress id="progress" value="0" max="100" style="display:none"> 0% </progress>
    <span id="uploader-success-alert" class='success' style="display:none">Success!</span>
    <span id="uploader-failure-alert" class='failiure' style="display:none">Failed!</span>
    <script>
     const formData = new FormData();
     const file_selector= document.getElementById('file-selector');
     const cancel =document.getElementById('cancel');
     let progessbar= document.getElementById('progress');
     file-selector.addEventListener('change', () => {
     for (let i = 0; i < file_selector.files.length; i++) {
      formData.append('file', file_selector.files[i]);
     }

     axios.request( {
        method: "post", 
        url: "/upload", 
        data: formData, 
        onUploadProgress: (p) => {
          cancel.style.visibility= "visible" ;
          progessbar.style.visibility= "visible" ;
          progessbar.value=p ;
          //this.setState({
            //fileprogress: p.loaded / p.total
          //})
        }


      }).then (data => {
        //this.setState({
          //fileprogress: 1.0,
        //})
      })

    






     }

     function cancel_upload(){
      const CancelToken = axios.CancelToken;
      const source = CancelToken.source();
      
 
     }
    </script>
  
  </div>
  </section>
  
</html>